
/* Small mobile devices (e.g., iPhone SE, older Android phones) */
@media (max-width: 480px) {
  nav a {
    font-size: 20px;
  } 
  nav span {
    display: none;
  }
  .profile {
    width: 180px;
    height: 180px;
  }
  .area {
    background-size: cover;
  }
  .wrap {
    max-width: 90%;
  }
  .wrap h3 {
    font-size: 24px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 11px;
    text-align: start;
  }
  .logos img {
    width: 30px;
    height: 30px;
  }
  .image-box img { 
    width: 35px;
    height: 35px;
  }
}

/* Larger mobile devices (e.g., iPhone 15, Samsung Galaxy) */
@media (min-width: 481px) and (max-width: 767px) {
  nav a {
    font-size: 25px;
  } 
  nav span {
    display: none;
  }
  .wrap {
    max-width: 90%;
  }
  .wrap h3 {
    font-size: 28px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 15px;
    text-align: start;
  }
  .image-box img {
    width: 40px;
    height: 40px;
  }
}

/* Mobile landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
  nav a {
    font-size: 25px;
  } 
  nav span {
    display: none;
  }
  .wrap {
    max-width: 90%;
  }
  .wrap h3 {
    font-size: 31px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 19px;
    text-align: start;
  }
  .image-box img {
    width: 40px;
    height: 40px;
  }
}

/*FOR TABLETS */
/* Tablets in portrait mode (e.g., iPad, many Android tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  nav a {
    font-size: 25px;
  }
   nav span {
    display: none;
  }
  .wrap {
    max-width: 90%;
  }
  .wrap h3 {
    font-size: 31px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 17px;
    text-align: start;
  }
  .image-box img {
    width: 50px;
    height: 50px;
  }
}

/* Tablets in landscape mode */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles for tablet landscape screens */
  nav a {
    font-size: 25px;
  }
   nav span {
    display: none;
  }
  .wrap {
    max-width: 90%;
  }
  .wrap h3 {
    font-size: 31px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 19px;
    text-align: start;
  }
  .image-box img {
    width: 50px;
    height: 50px;
  }
}

/* FOR DESKTOPS */
/* Small laptops and desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for smaller desktop screens */
  nav a {
    font-size: 25px;
  }
  .wrap {
    max-width: 90%;
  }
  .wrap h3 {
    font-size: 31px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 19px;
    text-align: start;
  }
  .image-box img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) and (orientation: portrait) {
  /* Styles for smaller desktop screens */
  nav a {
    font-size: 25px;
  }
  .wrap {
    max-width: 90%;
  }
  .wrap h3 {
    font-size: 31px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 19px;
    text-align: start;
  }
  .image-box img {
    width: 50px;
    height: 50px;
  }
}

/* Larger desktops and high-resolution screens */
@media (min-width: 1281px) {
  /* Styles for large desktop screens */
  nav a {
    font-size: 25px;
  }
  .wrap {
    max-width: 65%;
  }
  .wrap h3 {
    font-size: 50px;
    text-align: start;
    padding-bottom: 5px;
  }
  .wrap p {
    font-size: 32px;
    text-align: start;
    padding-bottom: 5px;
  }
  .image-box img {
    width: 50px;
    height: 50px;
  }
}

