/* FOR MOBILE */
/* Small mobile devices (e.g., iPhone SE, older Android phones) */
@media (max-width: 480px) {
  nav span {
    display: none;
  }
  .profile {
    width: 180px;
    height: 180px;
  }
  .area {
    background-size: cover;
  }
}

/* Larger mobile devices (e.g., iPhone 15, Samsung Galaxy) */
@media (min-width: 481px) and (max-width: 767px) {
  nav a {
    font-size: 25px;
  } 
  nav span {
    display: none;
  }
}

/* Mobile landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
  nav a {
    font-size: 25px;
  } 
  nav span {
    display: none;
  }
}

/*FOR TABLETS */
/* Tablets in portrait mode (e.g., iPad, many Android tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  nav a {
    font-size: 25px;
  }
   nav span {
    display: none;
  }
}

/* Tablets in landscape mode */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles for tablet landscape screens */
}

/* FOR DESKTOPS */
/* Small laptops and desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for smaller desktop screens */
}

/* Larger desktops and high-resolution screens */
@media (min-width: 1281px) {
  /* Styles for large desktop screens */
}

